@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root{
 --main-bg-color:rgb(22 28 78 / 94%);
}

body{
    background-color: #282d62;
}

header {
    background-color:  var(--main-bg-color);
    height: 8vh;
    align-content: center;
    position: sticky;
    top: 0;
     color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li a {
     color: white;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
    font-weight: 500;
}

nav li a:hover{
 color: aqua;
    text-decoration: underline;
}

.logo {
    font-size: 21px;
      font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

 .burger{
    justify-content: center;
 }

.burger button {
     color: white;
    padding: 1px;
   
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    display: none;
}

.burger button:hover{
    color: aqua;
    border: 2px solid aqua;
    border-radius: 5px;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100vw;
    /* height: 50vh; */
    /* margin: 0 5vw; */
}

.box {
      width: 35vw;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 18px;
    justify-items: center;
    background-color: #101442;
    border: 2px solid black;
    border-radius: 8px;
}
.box:hover{
    border: 2px solid aqua;
}


.box h1 {
    margin: 35px 0;
    justify-self: center;
    color: white;
}

form label {
  font-size: large;
    font-weight: 700;
    color: white;
}

form input {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 25vw;
    border-radius: 5px;
    padding: 4px;
}
form input:hover{
    /* border: 2px solid aqua; */
    padding: 6px 4px;
}

#review {
    margin-top: 12px;
    margin-left: 50px;
    padding: 10px;
    font-size: 15px;
}

#form-btn {
    margin-top: 25px;
    padding: 4px;
    font-size: 15px;
    font-weight: 600;
}

#form-btn:hover {
    background-color:  rgb(250, 84, 7);
}

#about {
    display: flex;
    margin: 80px 0 0 0;
    background-color: var(--main-bg-color);
    width: auto;
    padding: 60px;
     color: white;

}

.profile {
    margin-right: 15vw;
    width: 25vw;

}

.info {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
}

.profile a {
    display: inline-block;
    margin-top: 17px;
    color: white;
}

.profile a:hover{
    color: rgb(217, 255, 0);
}

.mob {
    margin-top: 13px;
}

#service ul li {
    line-height: 30px
}

.address {
    margin-left: 15vw;
}

pre {
    display: inline-block;
    margin-left: -190px;
    font-size: 15px;
    line-height: 20px;
}

footer {
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    background-color:  var(--main-bg-color);
    height: 10vh;
      color: white;
    align-items: center;
    /* font-size: larger; */
    font-optical-sizing: auto;
    font-weight: bold;
}
